@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'dm-500';
        src: url("../font/dm-sans/DMSans-Medium.ttf") format("truetype");
    }

    @font-face {
        font-family: 'dm-400';
        src: url("../font/dm-sans/DMSans-Regular.ttf") format("truetype");
    }

    @font-face {
        font-family: 'poppins-700';
        src: url("../font/poppins/Poppins-Bold.ttf") format("truetype");
    }

    @font-face {
        font-family: 'poppins-500';
        src: url("../font/poppins/Poppins-Medium.ttf") format("truetype");
    }

    @font-face {
        font-family: 'poppins-400';
        src: url("../font/poppins/Poppins-Regular.ttf") format("truetype");
    }

    @font-face {
        font-family: 'poppins-300';
        src: url("../font/poppins/Poppins-Light.ttf") format("truetype");
    }

    .text-gradient-1 {
        background: linear-gradient(to right, rgba(0, 192, 253, 1), rgba(231, 15, 170, 1));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .text-gradient-2 {
        background: linear-gradient(to right, rgba(19, 176, 245, 1), rgba(231, 15, 170, 1));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .text-gradient-3 {
        background: linear-gradient(to bottom, rgba(231, 15, 170, 1), rgba(0, 192, 253, 1));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@layer components {
    .pic-container {
        background: linear-gradient(to bottom, rgba(231, 15, 170, 1), rgba(0, 192, 253, 1));
    }
    
    @keyframes slideIn {
        0% {
            right: 80px;
        }
        100% {
            max-width: max-content;
            max-height: max-content;
            visibility: visible;
            opacity: 1;
            right: 4px;
        }
    }

    .header--menu__mobile.active {
        @apply max-w-max max-h-max visible opacity-100;
        animation: slideIn 0.2s ease forwards;
    }

    .tech-stack--infinite-swiper,
    .tech-stack--infinite-swiper__reverse{
        @apply relative w-full h-32;
    }

    .tech-stack--infinite-swiper img,
    .tech-stack--infinite-swiper__reverse img{
        @apply absolute top-0 w-32;
    }
}